In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("misdata.csv")

In [3]:
data

                nombre
0          Diane Tyler
1      William Bradley
2       Kendra King MD
3       Yolanda Bishop
4         Michael Gray
5         Lisa Hubbard
6          Perry Klein
7     Andrea Stevenson
8      Tiffany Roberts
9           David Ward
10    Samuel Frederick
11      Christina Diaz
12         Ashley Beck
13       Kayla Wilkins
14     Brendan Barnett
15      Martha Ramirez
16         Jacob Ortiz
17  Matthew Mccullough
18          Wanda Gill
19       Mark Johnston
20   Mr. William Beard
21       Kathryn Dixon
22     Thomas Cummings
23      Dylan Williams
24     Jaclyn Mitchell
25   Edward Hutchinson
26        Michael King
27     Ms. Tanya Evans
28       Catherine Ray
29         David Walsh
30   Krystal Alexander
31          Allen Hill
32       Tracey Morgan
33       Harold Stokes
34       Ann Hernandez
35        Luis Skinner
36         Emily Lyons
37        Brett Knight
38        Cindy Barnes
39       Tonya Gardner
40      Keith Atkinson
41      Jonathan Ortiz
42          Sean Brown
43       Molly Shelton
44  Kimberly Castaneda
45         Johnny Mayo
46         Lori Watson
47          Ann Carter
48        Jason Carter
49    Benjamin Patrick
50        Peter Melton

In [4]:
def obtener_inicial(d):
    cadena = d[0]
    return cadena

In [5]:
def obtener_mayuscula(d):
    cadena = d.upper()
    return cadena

In [6]:
data['inicial'] = data['nombre'].apply(obtener_inicial)

In [7]:
data

                nombre inicial
0          Diane Tyler       D
1      William Bradley       W
2       Kendra King MD       K
3       Yolanda Bishop       Y
4         Michael Gray       M
5         Lisa Hubbard       L
6          Perry Klein       P
7     Andrea Stevenson       A
8      Tiffany Roberts       T
9           David Ward       D
10    Samuel Frederick       S
11      Christina Diaz       C
12         Ashley Beck       A
13       Kayla Wilkins       K
14     Brendan Barnett       B
15      Martha Ramirez       M
16         Jacob Ortiz       J
17  Matthew Mccullough       M
18          Wanda Gill       W
19       Mark Johnston       M
20   Mr. William Beard       M
21       Kathryn Dixon       K
22     Thomas Cummings       T
23      Dylan Williams       D
24     Jaclyn Mitchell       J
25   Edward Hutchinson       E
26        Michael King       M
27     Ms. Tanya Evans       M
28       Catherine Ray       C
29         David Walsh       D
30   Krystal Alexander       K
31          Allen Hill       A
32       Tracey Morgan       T
33       Harold Stokes       H
34       Ann Hernandez       A
35        Luis Skinner       L
36         Emily Lyons       E
37        Brett Knight       B
38        Cindy Barnes       C
39       Tonya Gardner       T
40      Keith Atkinson       K
41      Jonathan Ortiz       J
42          Sean Brown       S
43       Molly Shelton       M
44  Kimberly Castaneda       K
45         Johnny Mayo       J
46         Lori Watson       L
47          Ann Carter       A
48        Jason Carter       J
49    Benjamin Patrick       B
50        Peter Melton       P

In [8]:
data['mayuscula'] = data['nombre'].apply(obtener_mayuscula)

In [9]:
data

                nombre inicial           mayuscula
0          Diane Tyler       D         DIANE TYLER
1      William Bradley       W     WILLIAM BRADLEY
2       Kendra King MD       K      KENDRA KING MD
3       Yolanda Bishop       Y      YOLANDA BISHOP
4         Michael Gray       M        MICHAEL GRAY
5         Lisa Hubbard       L        LISA HUBBARD
6          Perry Klein       P         PERRY KLEIN
7     Andrea Stevenson       A    ANDREA STEVENSON
8      Tiffany Roberts       T     TIFFANY ROBERTS
9           David Ward       D          DAVID WARD
10    Samuel Frederick       S    SAMUEL FREDERICK
11      Christina Diaz       C      CHRISTINA DIAZ
12         Ashley Beck       A         ASHLEY BECK
13       Kayla Wilkins       K       KAYLA WILKINS
14     Brendan Barnett       B     BRENDAN BARNETT
15      Martha Ramirez       M      MARTHA RAMIREZ
16         Jacob Ortiz       J         JACOB ORTIZ
17  Matthew Mccullough       M  MATTHEW MCCULLOUGH
18          Wanda Gill       W          WANDA GILL
19       Mark Johnston       M       MARK JOHNSTON
20   Mr. William Beard       M   MR. WILLIAM BEARD
21       Kathryn Dixon       K       KATHRYN DIXON
22     Thomas Cummings       T     THOMAS CUMMINGS
23      Dylan Williams       D      DYLAN WILLIAMS
24     Jaclyn Mitchell       J     JACLYN MITCHELL
25   Edward Hutchinson       E   EDWARD HUTCHINSON
26        Michael King       M        MICHAEL KING
27     Ms. Tanya Evans       M     MS. TANYA EVANS
28       Catherine Ray       C       CATHERINE RAY
29         David Walsh       D         DAVID WALSH
30   Krystal Alexander       K   KRYSTAL ALEXANDER
31          Allen Hill       A          ALLEN HILL
32       Tracey Morgan       T       TRACEY MORGAN
33       Harold Stokes       H       HAROLD STOKES
34       Ann Hernandez       A       ANN HERNANDEZ
35        Luis Skinner       L        LUIS SKINNER
36         Emily Lyons       E         EMILY LYONS
37        Brett Knight       B        BRETT KNIGHT
38        Cindy Barnes       C        CINDY BARNES
39       Tonya Gardner       T       TONYA GARDNER
40      Keith Atkinson       K      KEITH ATKINSON
41      Jonathan Ortiz       J      JONATHAN ORTIZ
42          Sean Brown       S          SEAN BROWN
43       Molly Shelton       M       MOLLY SHELTON
44  Kimberly Castaneda       K  KIMBERLY CASTANEDA
45         Johnny Mayo       J         JOHNNY MAYO
46         Lori Watson       L         LORI WATSON
47          Ann Carter       A          ANN CARTER
48        Jason Carter       J        JASON CARTER
49    Benjamin Patrick       B    BENJAMIN PATRICK
50        Peter Melton       P        PETER MELTON

In [11]:
data.to_csv("misdata2.csv")